
#menu{
	list-style:none;
	width:280px;
	margin:20px auto;
	clear:both;
}

#menu li{
	float:left;
	margin-top:20px;
}

#menu li div{
	width:100px;
	height:100px;
}

#menu li.spacer div{
	width:60px;
}
#menu li div::after,#menu li div::before{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
-webkit-user-select: none;
-webkit-text-size-adjust: none;
-webkit-touch-callout: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#menu #map div{
	background:url(../images/icons/maps_icon.png) no-repeat;
	background-size:100% 100%;
}

#menu #twitter div{
	background:url(../images/icons/twitter_icon.png) no-repeat;
	background-size:100% 100%;
}
#menu #creditcard div{
	background:url(../images/icons/payment_icon.png) no-repeat;
	background-size:100% 100%;
}
#menu #camera div{
	background:url(../images/icons/camera_icon.png) no-repeat;
	background-size:100% 100%;
}
#menu #stocks div{
	background:url(../images/icons/webview_logo.png) no-repeat;
	background-size:100% 100%;
}
#menu #settings div{
	background:url(../images/icons/settings_icon.png) no-repeat;
	background-size:100% 100%;
}
