#settings .content{
	padding:20px;
}

#settings .info{
	font-size:0.8em;
	color:#aaa;
	text-align:center;
}

#settings h3{
		-webkit-margin-before: 5px;
-webkit-margin-after: 5px;
}


#settings .ui-field-contain{
	padding:0.7em 0;
}
