<link rel="stylesheet" type="text/css" href="./css/creditcard.css"/>
<div  class="header" data-role="header">
	<img src="./images/logo.png"/>
</div>
<div class="content">
	<h2>Payment Info</h2>
	<label for="cardType">Card Type</label>
	<select name="cardType" id="cardType">
		<option value="visa">Visa</option>
		<option value="mastercard">Mastercard</option>
	</select>
	<label for="cardNum">Card Number</label>
	<input type="number" name="cardNum" id="cardNum" value=""  />
	
	<p class="info">Please enter the payment information above.</p>
	<div data-role="button" id="validateCard">Submit</div>
	
</div>

<!-- <div class="content">
	<h2>Seach for stock info</h2>
	<h4>Do a mash-up on stocks</h4>
	<label for="compNam">Company Name</label>
	<input type="text" name="compName" id="compNAme" value=""  />
	
	<p class="info">Enter company name above to perform a mash-up</p>
	<div data-role="button" id="stockSubmit">Submit</div>

	</div>
	<h4 id="stockSymbol"></h4>
	<div id="stockInfo"></div>
	</div>
	
</div> -->

<!-- <div class="content">
				<div class="mortgage widget">
					<h2>Seach for stock info</h2>
					<h4>Do a mash-up on stocks</h4>
					<div class="padding form">
						<div>
							<input class="search" type="text" id="companyName" placeholder="Company Name" name="companyName"/>
						</div>
						<div>
							<button id="submitStock">
								Submit
							</button>
						</div>
						<h4 id="stockSymbol"></h4>
						<div id="stockInfo"></div>
					</div>
				</div>
			</div> -->
