<link rel="stylesheet" type="text/css" href="./css/creditcard.css"/>
<div  class="header" data-role="header">
	<img src="./images/logo.png"/>
</div>
<div class="content">
	<h2>Payment Info</h2>
	<label for="cardType">Card Type</label>
	<select name="cardType" id="cardType">
		<option value="visa">Visa</option>
		<option value="mastercard">Mastercard</option>
	</select>
	<label for="cardNum">Card Number</label>
	<input type="number" name="cardNum" id="cardNum" value=""  />
	
	<p class="info">Please enter the payment information above.</p>
	<div data-role="button" id="validateCard">Validate Card Number</div>
	
</div>
