<link rel="stylesheet" type="text/css" href="./css/settings.css"/>

<div class="header" data-role="header">
	<img src="./images/logo.png"/>
</div>
<div class="content">
	<div data-role="fieldcontain">
	<h3>Personal Info</h3>
	
	<label for="title">Title</label>
	<select name="title" id="title">
		<option value="mr">Mr</option>
		<option value="ms">Ms</option>
	</select>
	<label for="name">Name</label>
	<input type="text" name="name" id="name" value=""  />
	</div>
	<p class="info">
		Please enter the payment information above.
	</p>
	<div data-role="fieldcontain">
	<h3>App Config</h3>
	<label for="slider">Slider:</label>
	<input type="range" name="slider" id="slider" value="25" min="0" max="100" step="5" />
	<label for="toggle">Toggle Switch:</label>
	<select name="slider" id="toggle" data-role="slider">
		<option value="off">Off</option>
		<option value="on">On</option>
	</select>
	</div>
	<div data-role="button" id="saveSetting">Save Settings</div>
</div>
