<link rel="stylesheet" type="text/css" href="./css/stocks.css"/>
<div  class="header" data-role="header">
	<img src="./images/logo.png"/>
</div>

<div class="content">

	<h2>Seach for stock info</h2>
	<h4>Do a mash-up on stocks</h4>
	<label for="compNam">Company Name</label>
	<input type="text" name="compName" id="compName" value=""  />
	
	<p class="info">Enter company name above to perform a mash-up</p>
	<div data-role="button" id="stockSubmit">Submit</div>
	<h4 id="stockSymbol"></h4>
  
	<!--<div id="stockInfo"></div-->
  <ul id="stockInfo" data-role="listview" data-inset="true" data-theme="c"></ul>
  

</div>